$desktop-pointL: 1200px;
$tab-pointL: 900px;
$mob-pointL: 500px;
$mob-point: 600px;
$extra-Mobpoint: 450px;

$screen: "only screen";

$mob-mediaXL: "#{$screen} and (max-width:#{$mob-point})";

$mob-mediaL: "#{$screen} and (max-width:#{$mob-pointL})";

$tab-mediaXL: "#{$screen} and (max-width:#{$tab-pointL})";

$desktop-mediaL: "#{$screen} and (max-width:#{$desktop-pointL})";
