.event {
    width: 100%;
    &__slide {
        >h2 {
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            margin: 0;
        }
        >h5 {
            margin: 10px 0;
        }
    }
    &__text {
        margin: 0;
    } 
    &__slider {
        padding-bottom: 50px;
    }
    &__pagination {
        top:87%;
        left: 50%;
        transform: translateX(-50%);
        >span {
            background: none;
            height: 100%;
            margin: 0 5px;  
        }
    } 
    &__button-prev::after,
    &__button-next::after {
        display: none;
    } 
    &__button-prev,
    &__button-next {
        color: $grey-light;
        text-decoration: underline;
        top:90%;
        &:hover {
            color: $text-base;
        }
    }
    &__button-prev {
        left: 5%;
    }
    &__button-next {
        left: 85%;
    } 
}

.swiper-pagination-bullet-active {
    color: $red;
}

.more-link {
    text-align: end;
    color: $red;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
    &_border {
        padding-bottom: 20px;
        border-bottom: 1px solid $grey;
    }
    &_margin {
        margin: 0 0 12px;
    }
}