.event {
    >h2 {
        font-size: 24px;
        font-weight: 400;
        margin: 0;
    }
    >h5 {
        margin: 30px 0 15px;
    }
    &__text {
        margin: 0;
    }   
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    border-top: 1px solid $grey;
    >li {
        margin: 0 10px;
        &:hover {
            cursor: pointer;
            color: $red;
        }
        &:first-child,
        &:last-child {
            text-decoration: underline;
        }
        &:first-child {
            color: #bababa;
        }
    }
    &_circle {  
        &>:nth-child(2),
        &>:nth-child(3),
        &>:nth-child(4) {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $grey;
            margin-top: 10px;
        }
        &>:nth-child(2):hover,
        &>:nth-child(3):hover,
        &>:nth-child(4):hover {
            background-color: $red;
        }
    }
}

.more-link {
    text-align: end;
    color: $red;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}