.galleries {
    width: 100%;
    padding-bottom: 30px ;
    border-bottom: 1px solid $grey;
    >ul {
        display: flex;
        flex-wrap: wrap;
        > li {
            margin: 0 8px 0 0;
        }
        >:nth-child(3n) {
            margin: 0;
        }
    }
}