.calendar {
    position: relative;;
    width: 100%;
    border: 1px solid $grey;
    padding:30px 30px 15px;
    margin: 0 0 30px 0;
    &__events {
      border-bottom: 1px solid $grey;
      padding: 20px 0;
      &>h3 {
        font-size: 14px;
        color: $red;
        font-weight: 700;
        margin: 0 0 10px;
      }
      li {
        margin-bottom: 10px;
      }
      h5 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
}

#calendar2 {
    width: 100%;
    font: monospace;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid $grey;
  }
  #calendar2 thead tr:last-child {
    font-size: small;
    color: rgb(85, 85, 85);
  }
  #calendar2 thead tr:nth-child(1) td:nth-child(2) {
    color:$red;
  }
  #calendar2 thead tr:nth-child(1) td:nth-child(3),
  #calendar2 thead tr:nth-child(1) td:nth-child(1) {
    color: $red;
  }

  #calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
  }
  #calendar2 tbody td {
    color: rgb(44, 86, 122);
  }
  // #calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
  //   color: rgb(231, 140, 92);
  // }
  #calendar2 tbody td.today {
    background: $grey;
    border-radius: 50%;
    color: #fff;
  }

  #calendar2 tbody tr:nth-child(4) td:nth-child(5) {
    background-color: $red;
    border-radius: 50%;
    color: $white;
  }