.left-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    @media #{$tab-mediaXl} {
        max-width: 100%;
        margin-bottom: 40px;
    }
}

@import 'search';
@import 'info';
@import 'calendar';
@import 'time';
@import 'exchange';